@model IList<NationalPark>

@{
    ViewData["Title"] = "Home Page";
}

<section class="centeredPanel">

    @foreach (NationalPark park in Model)
    {
        <div id=@park.ParkCode style=" display:grid; grid-template-columns: 1fr 5fr; grid-template-areas: 'photo info';  padding: 10px; border: 2px solid forestgreen;
  border-radius: 5px; margin-bottom: 20px">
            <a asp-controller="home" asp-action="parkdetail" asp-route-id="@(park.ParkCode)">
                <img src="~/images/@(park.ParkCode).jpg" style="width:400px; padding: 20px; grid-area:photo;" />
            </a>
            <div grid-area:info>
                <p style=" margin-top: 10px; margin-bottom: 0px; font-weight:bold; font-size:24px; color:forestgreen">@park.ParkName</p>
                <p style=" margin-top: 0px; font-size:16px; ">@park.State</p>
                <p style=" margin-top: 20px; font-size:18px; ">@park.ParkDescription</p>
            </div>
        </div>
    }
















</section>