@model Dictionary<string, int>

@{
   ViewData["Title"] = "Results";
 }

    <h1>Results</h1>

@foreach (KeyValuePair<string, int> keyValuePair in Model)
{
    <p>@(keyValuePair.Key): @(keyValuePair.Value)</p>
}

