@model Dictionary<string, int>

@{
    ViewData["Title"] = "Results";
}

<h1 style="padding:10px; text-align:center;">Results</h1>

@foreach (KeyValuePair<string, int> keyValuePair in Model)
{
    @if (keyValuePair.Value == 1 && keyValuePair.Value > 0)
    {
        <p style="margin-left: 20px; padding: 10px; border: 2px solid forestgreen;
        border-radius: 5px;margin-bottom: 20px">

            <b>@(keyValuePair.Key) </b>: @(keyValuePair.Value) Vote

        </p>
    }

    else if (keyValuePair.Value > 1)
    {
        <p style="margin-left: 20px; padding: 10px; border: 2px solid forestgreen;
        border-radius: 5px;margin-bottom: 20px">

            <b>@(keyValuePair.Key) </b>: @(keyValuePair.Value) Votes

        </p>
    }
}

